<div id ="event-task">
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field1">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
 
  <div class="field3">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field4">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>


