<% if (type == "project") { %>
    <td><i class="fa fa-list"></i></td>
    <td style="  padding-left: 10px;"><a href="#/<%= id %>"><%= name %></a></td>
	<td ><a href="#/<%= id %>/destroy" class="destroy"><i class="fa fa-times" style ="margin-left: 70px;"></i></a></td>
 <% } %>
<% if (type == "getflo") { %>
    <td><a href="#/<%= id %>"><%= name %></a></td>


<% } %>

<%{%>

<% } %>

